
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/Imagem\ do\ WhatsApp\ de\ 2024-07-11\ à\(s\)\ 11.15.48_32232e75.jpg) no-repeat center;
    background-size: 1800px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
}

.marca {
    font-size: 86px;
}

.cafe {
    display: block;
    font-size: 16px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 10px;
    letter-spacing: -3px;
    height: 67px;
    /* transform: rotate(90deg);
    padding-top: 70px; */
} 

p {
    display: block;
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
}

a {
    width: 100%;
    height: 100%;
    position: absolute;
}

