body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kds {
    height: 90%;
    max-width: 680px;
    min-width: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 12px -1px;
    overflow-y: scroll;
}

.kds header nav {
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
    background-color: #f6f6f6;
} 

.kds header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.kds header nav ul li button{
    list-style: none;
    box-shadow: 0px 0px 12px -1px;
    padding: 14px;
    border-radius: 18px;
    font-size: 18px;
}

.pedido {
    height: 180px;
    box-shadow: 0px 0px 12px -1px;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.info-bebida {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.bebida-cliente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding: 0px 12px 12px 12px;
    gap: 10px;
}

.bebida-cliente .bebida, .bebida-cliente .name {
    font-size: 22px;
    font-weight: 600;
}

.especificacao-bebida {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding: 10px;
    gap: 10px;
}

.especificacao-bebida span {
    font-weight: 500;
}

.botao-pedido {
    height: 100%;
    width: 25%;
    border-radius: 0px 20px 20px 0px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-pedido span {
    color: #ffffff;
    font-weight: 600px;
    font-size: 24px;
}

.active {
    background-color: #000000;
    color: #ffffff;
}

.comanda {
    font-weight: 600;
    font-size: 18px;
}

@media  (max-width: 860px) {
    .kds header nav ul li button{
        padding: 10px;
        border-radius: 18px;
        font-size: 12px;
    }

    .bebida-cliente .bebida, .bebida-cliente .name {
        font-size: 12px;
    }
}