body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    height: 100vh;
    object-fit: fill;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    z-index: 1;
}

.marca {
    font-size: 86px;
}

.cafe {
    display: block;
    font-size: 16px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 10px;
    letter-spacing: -3px;
    height: 67px;
    /* transform: rotate(90deg);
    padding-top: 70px; */
} 

p {
    display: block;
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
    z-index: 1;
}

a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

