body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    height: 100vh;
    object-fit: fill;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.marca {
    font-size: 86px;
}

.cafe {
    display: block;
    font-size: 16px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 10px;
    letter-spacing: -3px;
    height: 67px;
    /* transform: rotate(90deg);
    padding-top: 70px; */
} 

p {
    display: block;
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
    z-index: 1;
}

a {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.code-card {
    height: 400px;
    width: 600px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    position: absolute;
    z-index: 5;
    border-radius: 12px;
    box-shadow: 0px 0px 18px -7px;
    text-transform: capitalize;

    & span {
        font-size: 30px;
    }
     h2 {
        font-size: 40px;
    } p {
        font-size: 20px;
    }
}